```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv-*/
.ENV
.ENV.*
.env
.env.*
!.env.example
!.env.defaults
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/modules/
*.sublime-project
*.sublime-workspace
.pytest_cache/
.hypothesis/
.tox/
.nox/
.coverage*
htmlcov/
.landscape.yaml
.pyup.yml
.isort.pkl
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
cython_debug/
.DS_Store
Thumbs.db
```